In [11]:
import pandas as pd
import sklearn
from sklearn import preprocessing
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler  
from sklearn.neural_network import MLPClassifier 
from sklearn.metrics import classification_report, confusion_matrix

In [12]:
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

In [13]:
irisdata = pd.read_csv('IRIS.csv', names=names)

In [14]:
# Takes first 4 columns and assign them to variable "X"
X = irisdata.iloc[:, 0:4]
# Takes first 5th columns and assign them to variable "Y". Object dtype refers to strings.
y = irisdata.select_dtypes(include=[object])

In [15]:
X.head()

   sepal-length  sepal-width  petal-length  petal-width
0  sepal_length  sepal_width  petal_length  petal_width
1           5.1          3.5           1.4          0.2
2           4.9            3           1.4          0.2
3           4.7          3.2           1.3          0.2
4           4.6          3.1           1.5          0.2

In [16]:
y.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0  sepal_length  sepal_width  petal_length  petal_width      species
1           5.1          3.5           1.4          0.2  Iris-setosa
2           4.9            3           1.4          0.2  Iris-setosa
3           4.7          3.2           1.3          0.2  Iris-setosa
4           4.6          3.1           1.5          0.2  Iris-setosa

In [17]:
# y actually contains all categories or classes:
y.Class.unique()

array(['species', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'],
      dtype=object)

In [18]:
# Now transforming categorial into numerical values
le = preprocessing.LabelEncoder()
y = y.apply(le.fit_transform)

In [19]:
y.head()

   sepal-length  sepal-width  petal-length  petal-width  Class
0            35           23            43           22      3
1             8           14             4            1      0
2             6            9             4            1      0
3             4           11             3            1      0
4             3           10             5            1      0

In [20]:
# Now for train and test split (80% of  dataset into  training set and  other 20% into test data)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [24]:
# Feature scaling
irisdata["sepal_length"] = irisdata["sepal_length"].str.replace(',', '').astype(float)
scaler = StandardScaler()  
scaler.fit(X_train)
X_train = scaler.transform(X_train)  
X_test = scaler.transform(X_test)

KeyError: 'sepal_length'

In [22]:
predictions = mlp.predict(X_test)

NameError: name 'mlp' is not defined